.body {
    min-height: calc(100vh - 100px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;

    transition: background-color 1s ease-in-out;
    pointer-events: none;

    &.overlayHidden {
        background-color: rgba(44, 44, 48, 0);
    }

    &.overlayVisible {
        background-color: rgba(44, 44, 48, 1);
    }
}

.controls {
    z-index: 501;
}
